<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <div class="jumbotron">
    <form action="/processpdfbook" enctype="multipart/form-data" method="POST">      
      <h1>Book Scan Tool</h1> <br>
      <h5> <input type="file" name="mybook" required/> <br> 
      <input type="submit" value="Submit Scan Review" id="button">  </h5>
    </form>  
  </div>  
</body>
</html>